.obsidian-banner-spacer {
  height: 200px;
  margin-bottom: 0;
  z-index: 99999;
}
.inline-title {
  z-index: 1;
  position: absolute;
  top: 240px;
}

.cm-def {
  display: none;
}

.cm-foldPlaceholder {
  display: none;
}

.markdown-source-view .inline-title {
  position: relative;
	top: -20px !important;
}